* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.jumbotron {
   display: flex;
   justify-content: space-around;
}

canvas {
   border: 1px solid #343a40;
   background-color: white;
   border-radius: 5px;
}

@media (max-width: 700px) {
   .jumbotron {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}
